<div class="container">
    <div class="row align-items-center">
        <div class="col text-center">
            <img class="w-100" src="../../../assets/images/pikachu.jpg">
        </div>
        <div class="col">
            <h1>Bienvenue</h1> 
            <br> 
            <p>Login name</p>
            <form (ngSubmit)="login()">
                <input type="text" placeholder="Name" #nameValid="ngModel" [(ngModel)]="name" name="name" class="form-control" required>
                <div [hidden]="nameValid.valid || nameValid.pristine"
                    class="alert alert-danger">Veuillez renseigner votre nom
                </div>
                <br>
                <button class="btn btn-warning text-white"><strong>GO !</strong> </button>
            </form>
            
        </div>
    </div>
</div>
