article:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    box-shadow: 10px 10px 5px grey;
}

article p {
    margin: 0;
}

article > div:nth-child(1), article > div:nth-child(2) {
    align-self: center;
}

article > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}