<app-header></app-header>
<div class="form-group">
    <label for="minattack" class="btn btn-primary">Min attack</label>
    <input type="text" class="form-control" [formControl] id="minattack" placeholder="Attaque minimale">
</div>

<div id="cards">
    <div *ngFor="let card of table">
        <app-card [card]="card"></app-card>
    </div>
</div>

<!-- <div [ngStyle]="{'background-color': 'hsl(' + data.duration + ',50%,50%)'}">
    <img [src]="bool ? data.artist.picture : data.album.cover" (mouseenter)="onClick()" (mouseleave)="onClick()">
    <div>
        <p>{{ data.title }}</p>
        <p>{{ data.artist.name }}</p>
    </div>
</div> -->


